<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.mybatis.mysql.mapper.CfgUserMapper" >
  <resultMap id="BaseResultMap" type="com.framework.mybatis.mysql.pojo.CfgUser" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pw" property="userPw" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="innet_date" property="innetDate" jdbcType="DATE" />
    <result column="m_phone" property="mPhone" jdbcType="VARCHAR" />
    <result column="l_phone" property="lPhone" jdbcType="VARCHAR" />
    <result column="email_address" property="emailAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_pw, org_id, innet_date, m_phone, l_phone, email_address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.framework.mybatis.mysql.pojo.CfgUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cfg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.framework.mybatis.mysql.pojo.CfgUserExample" >
    delete from cfg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.framework.mybatis.mysql.pojo.CfgUser" >
    insert into cfg_user (user_id, user_name, user_pw, 
      org_id, innet_date, m_phone, 
      l_phone, email_address)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPw,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{innetDate,jdbcType=DATE}, #{mPhone,jdbcType=VARCHAR}, 
      #{lPhone,jdbcType=VARCHAR}, #{emailAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.framework.mybatis.mysql.pojo.CfgUser" >
    insert into cfg_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPw != null" >
        user_pw,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="innetDate != null" >
        innet_date,
      </if>
      <if test="mPhone != null" >
        m_phone,
      </if>
      <if test="lPhone != null" >
        l_phone,
      </if>
      <if test="emailAddress != null" >
        email_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPw != null" >
        #{userPw,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="innetDate != null" >
        #{innetDate,jdbcType=DATE},
      </if>
      <if test="mPhone != null" >
        #{mPhone,jdbcType=VARCHAR},
      </if>
      <if test="lPhone != null" >
        #{lPhone,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        #{emailAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.framework.mybatis.mysql.pojo.CfgUserExample" resultType="java.lang.Integer" >
    select count(*) from cfg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cfg_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPw != null" >
        user_pw = #{record.userPw,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.innetDate != null" >
        innet_date = #{record.innetDate,jdbcType=DATE},
      </if>
      <if test="record.mPhone != null" >
        m_phone = #{record.mPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.lPhone != null" >
        l_phone = #{record.lPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.emailAddress != null" >
        email_address = #{record.emailAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cfg_user
    set user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_pw = #{record.userPw,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      innet_date = #{record.innetDate,jdbcType=DATE},
      m_phone = #{record.mPhone,jdbcType=VARCHAR},
      l_phone = #{record.lPhone,jdbcType=VARCHAR},
      email_address = #{record.emailAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="queryUserList"  resultType="java.util.Map">
  	select  * from  cfg_user  where 1=1
  	<if test="map.userId !=null and map.userId !=''">
  		and  user_id like "%"#{map.userId,jdbcType=VARCHAR}"%"
  	</if>
  	<if test="map.userName !=null and map.userName !=''">
  		and  user_name like  "%"#{map.userName,jdbcType=VARCHAR}"%"
  	</if>
  	
  </select>
  
</mapper>