<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.mybatis.mysql.mapper.CrdtSmsSendMapper" >
  <resultMap id="BaseResultMap" type="com.framework.mybatis.mysql.pojo.CrdtSmsSend" >
    <result column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="scage_id" property="scageId" jdbcType="VARCHAR" />
    <result column="step_id" property="stepId" jdbcType="VARCHAR" />
    <result column="seq_num" property="seqNum" jdbcType="INTEGER" />
    <result column="sms_type" property="smsType" jdbcType="VARCHAR" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
    <result column="receive_phone" property="receivePhone" jdbcType="VARCHAR" />
    <result column="sms_content" property="smsContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    case_id, scage_id, step_id, seq_num, sms_type, receive_name, receive_phone, sms_content, 
    create_time, send_time, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.framework.mybatis.mysql.pojo.CrdtSmsSendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crdt_sms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.framework.mybatis.mysql.pojo.CrdtSmsSendExample" >
    delete from crdt_sms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.framework.mybatis.mysql.pojo.CrdtSmsSend" >
    insert into crdt_sms_send (case_id, scage_id, step_id, 
      seq_num, sms_type, receive_name, 
      receive_phone, sms_content, create_time, 
      send_time, state)
    values (#{caseId,jdbcType=VARCHAR}, #{scageId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, 
      #{seqNum,jdbcType=INTEGER}, #{smsType,jdbcType=VARCHAR}, #{receiveName,jdbcType=VARCHAR}, 
      #{receivePhone,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.framework.mybatis.mysql.pojo.CrdtSmsSend" >
    insert into crdt_sms_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="scageId != null" >
        scage_id,
      </if>
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="seqNum != null" >
        seq_num,
      </if>
      <if test="smsType != null" >
        sms_type,
      </if>
      <if test="receiveName != null" >
        receive_name,
      </if>
      <if test="receivePhone != null" >
        receive_phone,
      </if>
      <if test="smsContent != null" >
        sms_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        #{caseId,jdbcType=VARCHAR},
      </if>
      <if test="scageId != null" >
        #{scageId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="seqNum != null" >
        #{seqNum,jdbcType=INTEGER},
      </if>
      <if test="smsType != null" >
        #{smsType,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null" >
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.framework.mybatis.mysql.pojo.CrdtSmsSendExample" resultType="java.lang.Integer" >
    select count(*) from crdt_sms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update crdt_sms_send
    <set >
      <if test="record.caseId != null" >
        case_id = #{record.caseId,jdbcType=VARCHAR},
      </if>
      <if test="record.scageId != null" >
        scage_id = #{record.scageId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null" >
        step_id = #{record.stepId,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNum != null" >
        seq_num = #{record.seqNum,jdbcType=INTEGER},
      </if>
      <if test="record.smsType != null" >
        sms_type = #{record.smsType,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveName != null" >
        receive_name = #{record.receiveName,jdbcType=VARCHAR},
      </if>
      <if test="record.receivePhone != null" >
        receive_phone = #{record.receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.smsContent != null" >
        sms_content = #{record.smsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update crdt_sms_send
    set case_id = #{record.caseId,jdbcType=VARCHAR},
      scage_id = #{record.scageId,jdbcType=VARCHAR},
      step_id = #{record.stepId,jdbcType=VARCHAR},
      seq_num = #{record.seqNum,jdbcType=INTEGER},
      sms_type = #{record.smsType,jdbcType=VARCHAR},
      receive_name = #{record.receiveName,jdbcType=VARCHAR},
      receive_phone = #{record.receivePhone,jdbcType=VARCHAR},
      sms_content = #{record.smsContent,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>