<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.mybatis.mysql.mapper.SequenceMapper">
   <select id="querySeq"  resultType="java.util.Map">
  	select  nextval(#{map.seqName,jdbcType=VARCHAR}) nextvalue
  </select>
  
</mapper>